/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: rgba(226, 226, 226, 0.418);
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(255, 81, 0);
}
.logo-nome{
    display: flex;
    align-items: center;
    font-size: 40px;
    color: white;
}
.logo{
    width: 100px;
    margin-left: 20px;
}
.opicoes {
    display: flex;
    align-self: center;
    color: white;
}
.a{
    text-decoration: none;
    color: white; 
    margin-right: 50px;
    font-size: 20px;
}

.container-principal{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    flex-wrap: wrap; 
}
a{
    text-decoration: none;
    color: black;
}
.container1{
    border-radius: 9px;
    width: 500px;
    background-color: azure;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.411);
}
.container2{
    
    border-radius: 9px;
    width: 611px;
    background-color: azure;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.411);
}
.arredonda{
    width: 500px;
    border-radius: 9px;
}
.titulo {
    margin: 3px 3px;
    font-size: 20px;
}
.texto{

    margin: 15px 3px;
    width: 99%;
    
}
.lasanha{
    width: 500px;
}
.galinha{
    width: 611px;
}